<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LogIn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Signup</a>
    </nav>
<div>
    <form action="/login" method="post">
        <input type="text" name="username" required placeholder="Username"/>
        <input type="password" name="password" required placeholder="Password"/>
        <button type="submit">LogIn</button>
    </form>
</div>
</body>
</html>