<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/signup" method="post">
        <input type="text" name="username" required placeholder="Username"/>
        <input type="password" name="password" required placeholder="Password"/>
        <input type="text" name="firstName" required placeholder="First Name"/>
        <input type="text" name="lastName" required placeholder="Last Name"/>
        <input type="date" name="dateOfBirth" required placeholder="Date of Birth"/>
        <input type="text" name="bio" required placeholder="Bio" width="45" height="15"/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>