<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
</nav>


<div>

   <h1 th:text="${userInfo.firstName}"/>

    <ul>
        <li><img th:src="@{/userAvatar.png}"/></li>
        <li th:text="${userInfo.username}"/>
        <li th:text="${userInfo.firstName}"/>
        <li th:text="${userInfo.lastName}"/>
        <li th:text="${userInfo.dateOfBirth}"/>
        <li th:text="${userInfo.bio}"/>
    </ul>

</div>

<section>
    <h2>Discussion Board</h2>

    <form action="/post/create" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Content" name="content">
        <input type="hidden" th:value="${userInfo.id}" name="userID">
        <button type="submit">Post</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${postList}">
                <td th:text = "${post.username}"></td>
                <td th:text = "${post.content"></td>
                <td th:text = "${post.userID}"></td>
            </tr>
        </tbody>
    </table>

</section>

</body>

<script>
    img{
    width: 10%;
    }
</script>
</html>